@keyframes waves {
  0% { border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
  25% { border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; }
  50% { border-radius: 30% 70% 70% 30%/30% 30% 70% 70%; }
  100% { border-radius: 70% 30% 30% 70%/70% 70% 30% 30%; }
}

:root {
  --cover-raspberry: #C0185D;
  --cover-light: #fff2f8;
  --cover-violet: #574996;
}

.github-corner svg {
  color: var(--cover-light);
  fill: var(--cover-raspberry);
}

section.cover .anchor span {
  color: var(--cover-raspberry);
}

section.cover .cover-main > p:last-child a {
  color: var(--cover-light);
  border-color: var(--cover-light);
}

section.cover .cover-main > p:last-child a:last-child {
  background-color: var(--cover-raspberry);
}

section.cover .cover-main > p:last-child a:hover,
section.cover .cover-main>p:last-child a:last-child:hover {
  color: var(--cover-violet);
}

section.cover .cover-main > p img,
main aside.sidebar h1.app-name a.app-name-link img {
  -webkit-animation: waves 30s infinite alternate ease-in-out;
  animation: waves 30s infinite alternate ease-in-out;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  will-change: border-radius;
}